/* write your css here */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    overflow-x: hidden;
}

.homepage_bg {
    
    background: url("../src/assets/R.png");
}

.entrance_bg{
    background: url("../src/assets/entrancemain.jpeg");
}

.Restaurant-bg{
    background: url("../src/assets/Restaurantbg.png");
}

.Camping-bg{
    background: url("../src/assets/CampingBg.jpg");
   
}
